<div>
	<article role="article">
		<header>
			<h1 class="entry-title">Blog Archive</h1>
		</header>
		<div id="blog-archives">
			{{#each blog in content}}
				{{#if blog.showYear}}
					<h2>{{blog.year}}</h2>
				{{/if}}
				<article>
					<h1>{{#link-to 'blog' blog}}{{blog.title}}{{/link-to}}</h1>
					<time>
						<span class="month">{{blog.month}}</span>
						<span class="day">{{blog.day}}</span>
						<span class="year">{{blog.year}}</span>
					</time>
				</article>
			{{else}}
			No archive.
			{{/each}}
		</div>
	</article>
</div>