<form role="form" id="register-form" {{action register on="submit"}}>
	{{input class="form-control form-group" value=username type="text" placeholder="Username"}}
    {{input class="form-control form-group" value=password type="password" placeholder="Password"}}
    {{input class="form-control form-group" value=email type="text" placeholder="Email address"}}
    {{input class="btn btn-primary col-md-12" type="submit" value="Register"}}
</form>